@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ControllerInDetails.Models.SimpleModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Photo Gallery</title>
</head>
<body>
    <div>Esto es Foto Gallery</div>
    @Model.Value
</body>
</html>
