
@{
    Layout = null;
}
@model MiBindModelExample.Models.Person
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowName</title>
</head>
<body>
    Hello @Model.FirstName @Model.LastName
</body>
</html>
