
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Some</title>
</head>
<body>
    @Html.ActionLink("Press the link", "MyAction", "Second");
</body>
</html>
